
form li{
  list-style: none;
  padding-bottom:20px;
}
label
{
  display: block;
  cursor: pointer;
  color: black;
  padding-bottom:8px;
}
form ul{
  padding-left: 0px;
}
textarea
{
  height:150px;
  width:400px;
}
