.first
{
  width: 80%;
  margin: auto;
  background: yellow;
  height: 90%;
  overflow: hidden;
}
.second,aside
{
  height: 70%;
}
.second
{
    width:70%;
  background: #D3D3D3;
  float: left;
}
aside{
  width:30%;
  background: cyan;
  float: left;
}

aside ul{
list-style: none;
  padding-right: 20px;
}
